{% extends 'template.html' %}
{% block content %}
<div class="container">
  <h2>Documents</h2>         
  <table id="myTable" class="table  table-hover tablesorter" title="Click on the head to sort the table accordingly">
    <thead class="thead-inverse">
      <tr>
        <th>Id Number</th>
        <th>Title</th>
        <th>Authuor</th>
        <th>Link</th>
        <th>Contributor</th>
        <th>Department</th>
        <th>Keyword</th>
      </tr>
    </thead>
    <tbody>
      
      {% for doc in docs %}
          <tr class='{{color[loop.index0%3]}}'>
            <td>{{doc.id}}</td>
            <td>{{doc.title}}</td>
            <td>{{doc.author}}</td>
            <td>{{doc.link}}</td>
            <td>{{doc.contributor}}</td>
            <td>{{doc.dept}}</td>
            <td>{{doc.keyword}}</td>
          </tr>
        {% endfor %}
      
      
    </tbody>
  </table>
</div>

<div class="container">
  <div class="Form">
 <form action="/docs" method="post">

      <input type="text" placeholder="title" name="title" required />
      <input type="text" placeholder="link" name="link"/>
      <input type="text" placeholder="keyword" name="keyword"/>
      <input type="text" placeholder="contributor" name="contributor"/>
      <input type="text" placeholder="Department" name="dept" />
      <button>Create Entry</button>
    </form>
    </div>
</div>

<script src="{{url_for('static', filename='tsorter.js')}}" type="text/javascript"></script>

{% endblock %}
